{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["test/**/*"],
      "rules": {
        "global-require": "off",
        "no-console": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-var-requires": "off",
        "import/no-dynamic-require": "off"
      }
    }
  ],
  "plugins": ["prettier"],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": ["warn", "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off"
  }
}
